.TodoSearch {
  background: #F9FBFC;
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 0 9vw;
  height: 64px;
  width: 80%;
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1E1E1F;
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50px 10px;
  transform: scale(1);
  transition: transform 0.7s;
}
.TodoSearch:hover{
  transform: scale(1.02);
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}

@media screen and (width: 1440px) {
  .TodoSearch{
    margin: 0 8vw;
  }
}@media screen and (min-width: 1440px) {
  .TodoSearch{
    margin: 0 7vw;
  }
}